<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- CONEXION CON LA BASE DE DATOS -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="UNPOOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost/BD_GALACTUS_STORE"/>
                <property name="username" value="postgres"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>


	<!-- RUTA DE OTROS ARCHIVOS XML PARA MYBATIS -->
    <mappers>
        <!-- Para usar el XML, se referencia con 'resource' -->
        <!-- mapper resource="com/ejemplo/dao/UsuarioMapper.xml"/-->
    </mappers>
</configuration>